.hint .location .user{
    margin-left: 750;
}
.hint .location .user a{
    color: white;
    margin-left: 5px;
}

.container-user-akses {
    width: 350px;
    height: auto;
    margin: 50px auto;
}

.element-form {
    margin-bottom: 15px;
}

.element-form label {
    display: block;
    font-weight: bold;
}

.element-form span {
    display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.element-form span input[type="submit"] {
    background: #1e5474;
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 9px;
    cursor: pointer;
}

.element-form span input[type="submit"]:hover{
	background:orange;
}
